<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY - JIST</title>

    {{!-- Font Awesome Css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

    {{!-- Bootstraps Css --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Cutom Css --}}
    <link rel="stylesheet" type="text/css" href="./css/index.css">

</head>

<body style="background-color :grey ">

    {{!-- Navbar --}}
    {{>header}}


    {{!-- Department section --}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-5 bg-dark" style=" z-index: -1">
                <!-- Main content area-->
                <div class="py-4 text-light bg-dark">
                    <h4 class="text-center font-bold mb-3 font-weight-bold bg-info py-3">Board Of Governer
                    </h4>
                    <img src="../img/image01.jpg" alt="img" class="img-fluid">
                    <div class="py-4">
                        <ol class="text-light ml-4">
                            <p>
                                <li class="text-light font-weight-bold">
                                    Chairperson: Prof. Dhirendra Nath Buragohain <br>&nbsp;&nbsp;&nbsp;Former Director, IIT Guwahati
                                </li>
                            </p>
                            <p>
                                <li class="text-light font-weight-bold">
                                    Member Secretary : Dr. Bibeka Nanda Choudhury <br>
                                    Principal, JIST
                                </li>
                            </p>
                            <p>
                                <li class="text-light font-weight-bold">
                                    Govt. Nominee Members
                                    <ol type="a" class="text-light font-weight-bold">
                                        <li class="text-light font-weight-bold">Dr. A.M. Peters Former Principal, JEC, Jorhat</li>
                                        <li class="text-light font-weight-bold">Dr. Ranjan Tamuli, Prof. Bio-Science & Bio. Engg, IIT Guwagati</li>
                                        <li class="text-light font-weight-bold">Dr. B.N. Sahoo, G.M. Safety and Environment, Oil India LTD. Duliajan</li>
                                        <li class="text-light font-weight-bold">Sri Shyamkanu Mahanta, Enterpreneur-Infrastructure, Tourism Hydropower Implementation</li>
                                        <li class="text-light font-weight-bold">Dr. Maushumi Barooah, Director of Technical Education, Assam</li>
                                    </ol>
                                </li>
                            </p>
                            <p>
                                <li class="text-light font-weight-bold">
                                    University Member
                                    <ol type="a" class="text-light font-weight-bold">
                                        <li class="text-light font-weight-bold">
                                            Dr. B.R. Phukan, Academic Register, ASTU
                                        </li>
                                    <ol type="a" class="text-light font-weight-bold">
                                </li>
                            </p>
                            <p>
                                <li class="text-light font-weight-bold">
                                    AICTE Nominee
                                    <0l type="a" class="text-light font-weight-bold">
                                        <li class="text-light font-weight-bold">
                                            To be nominated
                                        </li>
                                    </ol>
                                </li>
                            </p>
                            <p>
                                <li class="text-light font-weight-bold">
                                    Academic Member
                                    <ol type="a" class="text-light font-weight-bold">
                                        <li class="text-light font-weight-bold">Dr. Chandra Chutia, Assoc. Prof., Mathematics, JIST</li>
                                        <li class="text-light font-weight-bold">Dr. Sudarshan Patowary, Asstt. Prof. & HOD(Civil)& TEQIP-III Co-ordinator, JIST</li>
                                    </ol>
                                </li>
                            </p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- Footer --}}
    {{>footer}}


    {{!-- Bootstraps Scripts --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>


</html>