<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY - JIST</title>

    

    {{!-- Bootstraps Css --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Font Awesome Css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

    {{!-- Cutom Css --}}
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>


<body style="background-color :grey; ">

{{>header}}

{{!-- Physics Faculty --}}
{{!-- ------------------------------------------------------------- --}}

<div class="text-light px-2 my-4 container-fluid" >
    <h4 class="text-center text-light py-3 bg-dark">Physics Faculty</h4>
    <div class="row" style=" z-index:-1">
        <div class="col-3" style=" z-index:-1">
            {{!-- Dr. Bikash Kumar Borah --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                    <img class="card-img-top" src="../img/Bikash.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Bikash Kumar Borah</h5>
                        <p class="card-text text-light">
                            <b>Qualification: M.Sc.,M.Phil.,Ph.D.</b>
                            <br>
                            <b>Designation:</b> Assoc. Prof. & HoD
                        <br>
                        <b>E-Mail ID:  </b><a href="https://mail.google.com/mail/u/0/" class="card-link text-primary">bikashgargilisa@gmail.com</a><br>
                        <a href="http://www.jist.ac.in/pdf/drbkb.pdf" class="card-link text-primary">Publications</a>
                        </p>
                    </div>
            </div>
        </div>

        <div class="col-3" style=" z-index:-1">
            {{!-- Dr. Monisa Rajkhowa --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                    <img class="card-img-top" src="../img/Monisa.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Monisa Rajkhowa</h5><br>
                        <p class="card-text text-light">
                            <b>Qualification: M.Sc., Ph.D.</b>
                            <br>
                            <b>Designation:</b>Assoc.Prof.
                            <br>
                            <b>E-Mail ID:  </b><a href="rajkhowa_05@yahoo.com" class="card-link text-primary">rajkhowa_05@yahoo.com</a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="monisa.rajkhowa@gmail.com" class="card-link text-primary">monisa.rajkhowa@gmail.com</a><br>
                        </p>
                    </div>
            </div>
        </div>

        <div class="col-3" style=" z-index:-1">
            {{!-- Mrs. Ranjita Goswami --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Ranjita.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mrs. Ranjita Goswami</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc.,M.Phil.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b>Not Available
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3" style=" z-index:-1">
            {{!-- Dr. Gauri Goutam Borthakur</h5> --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Gauri.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Gauri Goutam Borthakur</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., PhD.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b>Not Available
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Chemistry Faculty --}}
{{!-- ------------------------------------------------------------- --}}

<div class="text-light px-2 my-4">
    <h4 class="text-center text-light py-3 bg-dark">Chemistry Faculty</h4>

    <div class="row">
        <div class="col-3">
            {{!-- Dr. Dr. P. K. Bordoloi --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. P. K. Bordoloi</h5>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc.,PhD</b>
                        <br>
                        <b>Designation:</b> Assoc. Prof. & HoD
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">prasantabordoloi@yahoo.co.inm</a><br>
                        <b>Contact:</b> 9957036339
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. G. N. Kakati --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. G. N. Kakati</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., Ph.D.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">gnkakati123@gmail.com</a><br>
                        <b>Contact:</b> 9435051048
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. Bhaskar Sarmah --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Bhaskar Sarmah</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., PhD</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">bhaskar.rrl@gmail.com</a><br>
                        <b>Contact:</b> 7002557628
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. Parasha Hazarika --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Parasha Hazarika</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., PhD.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b>Not Available
                        <b>Contact number: </b> 9127054290
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Mathematics Faculty --}}
{{!-- ------------------------------------------------------------- --}}

<div class="text-light px-2 my-4">
    <h4 class="text-center text-light py-3 bg-dark">Mathematics Faculty</h4>
    <div class="row">
        <div class="col-3">
            {{!-- Dr. Dr. Raphel Kumar Saikia --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Raphel.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Raphel Kumar Saikia</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc.,PhD</b>
                        <br>
                        <b>Designation:</b> Assoc. Prof. & HoD
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">raphelsaikia@gmail.com</a><br>
                        <b>Contact:</b> 9954479918 (m)
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. Chandra Chutia --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Chutiya.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Chandra Chutia</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., Ph.D.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">chutia_chandra12@rediffmail.com</a><br>
                        <b>Contact:</b> 9957032624
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. Pratibha Borah --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Prabhati.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Pratibha Borah</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., PhD</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">pratibhaborah@yahoo.com</a><br>
                        <b>Contact:</b> 9854021819
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Mr. Utpal Saikia --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Utpal.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mr. Utpal Saikia</h5>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., Pursuing Ph.D.</b>
                        <br>
                        <b>Designation:</b>Asstt. Prof.,(Contractual)
                        <br>
                        <b>E-Mail ID: </b> <a href="https://mail.google.com/mail/u/0/" class="card-link text-primary">utpal_no1@rediffmail.com</a>
                        <b>Contact number: </b> 8761977801
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Computer Science and Information Technology Faculty --}}
{{!-- ------------------------------------------------------------- --}}

<div class="text-light px-2 my-4">
    <h4 class="text-center text-light py-3 bg-dark">Computer Science and Information Technology Faculty</h4>
    <div class="row">
        <div class="col-3">
            {{!-- Mr. Jameson Mushahary --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Jameson.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mr. Jameson Mushahary</h5><br>
                    <p class="card-text text-light">
                        <b>Qualification: MCA</b>
                        <br>
                        <b>Designation:</b> Assoc. Prof. & HoD
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">jameson.mush@gmail.com</a><br>
                        <b>Contact:</b> 9954166745 (m)
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Mrs. Bobita Dutta --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Bobita.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mrs. Bobita Dutta</h5>
                    <p class="card-text text-light">
                        <b>Qualification: M.Sc., MPhil.</b>
                        <br>
                        <b>Designation:</b>Asstt. Prof.(Permanent Contractual)
                        <br>
                        <b>E-Mail ID:</b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">bobitaduttajrt@gmail.com</a><br>
                        <b>Contact:</b> 9085066999
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Mr. Rajiv Kalita --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Rajiv.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mr. Rajiv Kalita</h5>
                    <p class="card-text text-light">
                        <b>Qualification: M.C.A</b>
                        <br>
                        <b>Designation:</b>Asstt. Prof.(Permanent Contractual)
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">rajivjec@gmail.com</a><br>
                        <b>Contact:</b> 9957212166
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Mr. Hsuvash Borkakoty --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mr. Hsuvash Borkakoty</h5>
                    <p class="card-text text-light">
                        <b>Qualification: MSc (IT)</b>
                        <br>
                        <b>Designation:</b>Asstt. Prof.,(Contractual)
                        <br>
                        <b>E-Mail ID: </b>Not Availabe
                        <b>Contact number: </b> 7002779452
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- Civil Engineering Faculty --}}
{{!-- ------------------------------------------------------------- --}}

<div class="text-light px-2 my-4">
    <h4 class="text-center text-light py-3 bg-dark">Civil Engineering Faculty</h4>
    <div class="row">
        <div class="col-3">
            {{!-- Dr. Sudarshan Patowary --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Sudarshan.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Sudarshan Patowary</h5>
                    <p class="card-text text-light">
                        <b>Qualification: B.E. (JEC), & M.Tech. (IIT, Ghy), & PhD (IIT, Ghy)</b>
                        <br>
                        <b>Designation:</b> Assoc. Prof. & HoD
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">sudarshan.patowary@gmail.com</a><br>
                        <b>Contact:</b> 9706830528
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Dr. Pranab Jyoti Barman --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Pranab.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr. Pranab Jyoti Barman</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: B.E., M.E. & PhD.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">pranabjyot@gmail.com</a><br>
                        <b>Contact:</b> 9954076506
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Mr. Dipjyoti Baglari--}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/Deepjyoti.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mr. Dipjyoti Baglari</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: B.E. & M.Tech.</b>
                        <br>
                        <b>Designation:</b>Assoc.Prof.
                        <br>
                        <b>E-Mail ID: </b><a href="https://mail.google.com/mail/u/0/"
                            class="card-link text-primary">dipjyoti.baglari@gmail.com</a><br>
                        <b>Contact:</b> 9678489701
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            {{!-- Miss Deepika Taye --}}
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img class="card-img-top" src="../img/un.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Miss Deepika Taye</h5><br><br>
                    <p class="card-text text-light">
                        <b>Qualification: ......</b>
                        <br>
                        <b>Designation:</b>Asstt. Prof.,(Contractual)
                        <br>
                        <b>E-Mail ID: </b> Not Availabe
                </div>
            </div>
        </div>

    </div>
</div>




{{!-- Bootstraps Scripts --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>