<!DOCTYPE html>
<html lang="en">

<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY - JIST</title>

        

        {{!-- Font Awesome Css --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

        {{!-- Cutom Css --}}
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        

</head>


<body>

{{!-- Navbar --}}
{{>header}}


{{!-- Image slider --}}
<div class="maindiv">
        <div class="text"> A Govt. of Assam Institution <br><br>
        Jorhat Institute of Science and Technology, in short, JIST is a premier and unique Institute of Assam, situated in <br> Sotai, Jorhat District of Assam.
        </div>        
</div>


{{!-- About Us --}}
<center><h2><b> <font color="white">ABOUT JIST</font></b></h2></center>
<div class="row">
        <div class="side">
                <div>
                        <div>    
                                <p>Jorhat Institute of Science and Technology, in short, JIST is a premier and unique Institute of Assam, situated in Sotai, Jorhat District of Assam. Formerly, it was Science College, established in 1971, as a Degree Science College with Courses in Major Science subjects namely Physics, Chemistry and Mathematics. </p>
                                <br>
                                <p>In the year 2008, it was renamed as Jorhat Institute of Science and Technology with an aim to expand the Institute. New Departments namely Department of Computer Science and Information Technology was introduced in the year, 2007 by introducing 3 years professional course in B.Sc. (IT) and two Engineering Branches namely, Electronics and Telecommunications (ETC) and Power Electronics and Instrumentation (PE&amp;I) in August, 2009 and two more new branches namely Mechanical Engineering and Civil Engineering are introduced form the academic session 2016-17. To fulfill the Mission and Vision of the Institute, from this acadmic session i.e August,2016, Post Graduate Degree Courses i.e. M.Sc. in Physics and Mathematics are introduced with due permission from the Affilliating University(Dibrugarh University) in regular mode as well as M.Sc. in Chemistry is introduced from the academic session 2017-18.</p>
                                <br>
                                <p class="text-info"><strong> * From the Academic session 2018-19 the Institute (all courses) is affiliated to Assam Science and Technical University (ASTU), Guwahati. </strong></p>
                                <br>
                                <p class="text-info"> <strong> The Institute has a Distance Education Cell under IGNOU and is running B.Sc. Courses to supplement its services to the non-institutional students. </strong> </p>
                                <br><br>
                                <h2 class="py-4">Mission and Vision</h2>
                                <br>
                                <p>
                                JIST Vision: At Jorhat Institute of Science and Technology, Jorhat, Assam, we aim to inculcate Scientific and Technological acumen in aspiring generation of scholars, engineers, researchers and technocrats by providing quality education in Science and Technology and also envisage socio-cultural upliftment. JIST thrive for academic excellence, community mobilization, empowerment of under-privileged sections of the society, upholding local culture and heritage and to nurture the democratic and national ideals in the youngsters in order to meet the growing competencies and challenges in their future endeavours.</p>
                                <br>
                                <p>JIST Mission: The institute equipped with a vibrant cluster of elite, committed and competent faculty members and well equipped practical labs, starve relentlessly to provide state-of-art quality education by bridging the theory-practice gap in Science &amp; Technology. We aim to contribute to produce a pool of future- ready, well-groomed, value-centric and industry-ready scientific and technological talents who would thrive to outshine across a wide array of their future functions.</p>
                        </div>
                </div>
        </div>
        <div class="main">
                <br><br><br><br><br><br><br><br><br>
                <div>
                        <center><h5>Principal JIST</h5></center>
                        <img src="../img/principal.jpg" alt="image" class="responsive">
                        <center><p>Dr. B. N. Choudhury, B.E., M.Tech., Ph.D.</p></center>
                        <center><small>Email: principaljist@gmail.com.</small></center>
                </div>
        </div>
</div>

 
{{!-- Maps --}}
<div>
	<div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
		<iframe src="https://maps.google.com/maps?q=JIST,Sotai&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>


{{!-- Footer --}}
{{>footer}}


</body>


</html>
