<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY - JIST</title>
    
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    
    {{!-- Bootstraps --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Cutom Css --}}
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>


<body style="background-color :grey ">



    

<div class="container" >
{{!-- Form --}}
<div class="row my-5 py-5 " >
        <div class="col-md-4"></div>
        <div class="col-md-4 bg-dark">
            <a HREF="/" class="float-left mt-2"><img class="logo" src="./img/jist.jpg" height="50" width="50" alt="logo"></a>
            <h4 class="text-center text-light bg-info py-3 mt-2">User Login</h4>

            {{!-- Error message --}}
            {{#if error}}
            <div class="alert alert-danger my-4 text-center">{{error}}</div>
            {{/if}}


            <form class="bg-dark text-light" action="" method="POST">

                {{!-- User Name --}}
                <div class="mt-5">
                    <label>User Name</label>
                    <input type="text" class="form-control" id="myInput1"  placeholder="Enter your User Name" name="username" required>
                </div>

                {{!-- Password --}}
                <div class="mt-2">
                    <label>Password</label>
                    <input type="password" class="form-control" id="myInput2" placeholder="Password" name="password" required>
                </div>

                <div class="row mt-3 text-center">
                
                    <div class="col">
                
                        {{!-- Cancel --}}
                        <button class="btn btn-primary" onclick="myInput()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;

                        {{!-- Register --}}
                        <button class="btn btn-primary" type="submit">Sign In</button>

                    </div>
                    
                </div>

                {{!-- Forgot Password --}}
                <p class="pt-2">
                    <a href="#" class="text-info">Forgot password?</a>
                </p>

                {{!-- Register --}}
                <p>Not a member?<a href="/register" class="text-info">Register</a></p>

            </form>
        </div>
        <div class="col-md-4"></div>
</div>

</div>



<script type="text/javascript">
    function myInput() {
        document.getElementById("myInput1").value = ""
        document.getElementById("myInput2").value = ""
    }
</script>


{{!-- Bootstraps Scripts --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>