<html>
<head>
<title>Jorhat Institute Of Science And Technology - JIST</title>
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<h1>OFFICE STAFFS</h1>
<table>
<thead>
    <tr>
        <th>SL No.</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Contact No.</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>1</th>
        <td>Mrs. Nabanita Bhattacharjee </td>
        <td>Head Asstt. </td>
        <td>9531218784</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Biju Borah</td>
        <td>Sr. Asstt.</td>
        <td>9531218784</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Mr. Romakanta Das</td>
        <td>Sr. Asstt. </td>
        <td>NA</td>
    </tr>
    <tr>
        <th>4</th>
        <td>Rajen Das</td>
        <td>UDA</td>
        <td>8471949815</td>
    </tr>
    <tr>
        <th>5</th>
        <td>Deepok Saikia</td>
        <td>Cashier</td>
        <td>NA</td>
    </tr>
    <tr>
        <th>6</th>
        <td>Farida Yashmin</td>
        <td>Jr. Asstt.</td>
        <td>7002086885</td>
    </tr>
    <tr>
        <th>7</th>
        <td>Nabaneeta Das</td>
        <td>Jr. Asstt</td>
        <td>9859263637</td>
    </tr>
    <tr>
        <th>8</th>
        <td>Arman Aziz</td>
        <td>Jr. Asstt</td>
        <td>8399944128</td>
    </tr>
    <tr>
        <th>9</th>
        <td>Javed Ahmed</td>
        <td>Jr. Asstt</td>
        <td>8638702160</td>
    </tr>
    <tr>
        <th>10</th>
        <td>Mr. Pradip dutta </td>
        <td>LDA</td>
        <td>NA</td>
    </tr>
    <tr>
        <th>11</th>
        <td>Prafulla Gogoi</td>
        <td>Chowkidar</td>
        <td>Not Available</td>
    </tr>
    <tr>
        <th>12</th>
        <td>Aparajita Neog</td>
        <td>Office bearer </td>
        <td>9957771697</td>
    </tr>
    <tr>
        <th>13</th>
        <td>Mr Dhrubajyoti Dutta </td>
        <td>Draftsman</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>14</th>
        <td>Mr. Jayanta Gogoi </td>
        <td>Night Chowkidar </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>15</th>
        <td>Mr. Biren Das </td>
        <td>Hostel Cook </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>16</th>
        <td>Mr. Dimbeswar Patra </td><td>Hostel Helper</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>17</th>
        <td>Mr. Jiten Bora </td>
        <td>Hostel Sweeper </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td><u><strong>Medical Staff</strong></u></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>1</th>
        <td>Bhoben Hazarika</td>
        <td>Pharmacist</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Pranati Devi</td>
        <td>Nurse</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td><u><strong>Laboratory Staff</strong></u></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>1</th>
        <td>Dhrubajyoti Borah</td>
        <td>Supervisory Inst.</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Mr. Miku Bora (c) </td>
        <td>Civil deptt </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Miss Suchibrata Bordoloi (c) </td>
        <td> Mechanical deptt </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td><u><strong>Other Staffs (Grade III) </strong></u></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>1</th>
        <td>Mrs. Janmoni Bora </td>
        <td>Lab. Asstt. (Chemistry) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Miss Rimjim Gogoi </td>
        <td>Office Asstt </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Mr. Menonjyoti Kalita </td>
        <td>Supervising Asstt. (BE Workshop) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>4</th>
        <td>Mr. Sondipan Patra </td>
        <td>Office Asstt </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>5 </th>
        <td>Mr. Monju Gogoi </td>
        <td>Office Asstt. </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>6</th>
        <td>Mr. Achyut krishna Gogoi </td>
        <td>Comp. Lab. Asstt. </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>7</th>
        <td>Mr. Dipankar Hazarika </td>
        <td>Instructor (Workshop) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>8</th>
        <td>Mr. Debajit Borah </td>
        <td>Instructor (Workshop) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>9</th>
        <td>Shri Chinmoy Saikia </td>
        <td>Instructor (Workshop) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>10</th>
        <td>Shri Amlan Badan Bora </td>
        <td>Instructor (Workshop) </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>11</th>
        <td>Mrs. Karuna Gogoi </td>
        <td>Bearer Maths deptt. </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>12</th>
        <td>Mr. Pranjal Das </td>
        <td>Mechanical Lab. </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>13</th>
        <td>Mr. Heremba Dutta </td>
        <td>Bearer Chemistry </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td><u><strong>Other Staffs Grade IV</strong> </u></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>1</th>
        <td>Mr. Diganta Gogoi </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Ms Julee Gogoi </td>
        <td>Office </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>3 </th>
        <td>Mrs. Nilu Balmiky </td>
        <td>Sweeper </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>4</th>
        <td>Mr. Amar Jyoti Gogoi </td>
        <td>Lab Bearer </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>5</th>
        <td>Mr. Dipak Gogoi </td>
        <td>Lab Bearer </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>6</th>
        <td>Mr. Pratap Gogoi </td>
        <td>Lab Bearer </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>7</th>
        <td>Mr. Bipin Gogoi </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>8</th>
        <td>Mr. Putul Patra </td>
        <td>Mali</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>9</th>
        <td>Mr. Ratul Borboruah </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>10</th>
        <td>Mr. Tarun Patra </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>11</th>
        <td>Mr. Jaduram Patra </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>12</th>
        <td>Mr. Mukul Gogoi </td>
        <td>Cook, Boys' Hostel II </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>13</th>
        <td>Mr. Bikash Gogoi </td>
        <td>Cook Boys', Hotsel II </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>14</th>
        <td>Mr. Durlav Boruah </td>
        <td>Cook, Boys' Hostel I </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>15</th>
        <td>Mr. Nakul Patra </td>
        <td>Night Chowkidar, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>16</th>
        <td>Ms Bulu Gogoi </td>
        <td>Day Chowkidar, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>17</th>
        <td>Mr. Dipak Borah </td>
        <td>Cook, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>18</th>
        <td>Mr. Niranjan Gogoi </td>
        <td>Cook, Boys' Hostel II </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>119</th>
        <td>Ms Rinu Gogoi </td>
        <td>Sweeper Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>20</th>
        <td>Mr. Krishna Gogoi </td>
        <td>Office</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>21</th>
        <td>Mr. Chandan Gogoi </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>22</th>
        <td>Mr. Hironya Gogoi </td>
        <td>Sweeper</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>23</th>
        <td>Mr. Dhurbajyoti Gogoi </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>24</th>
        <td>Sri Biswajit Kalita </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>25</th>
        <td>Sri Kailash Saikia </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>26</th>
        <td>Mr. Babul Gogoi </td>
        <td>Cook, Boys' Hostel I </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>27</th>
        <td>Mr. Buden Gogoi </td>
        <td>Cook, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>28</th>
        <td>Mr. Hemen Gogoi </td>
        <td>Cook, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>29</th>
        <td>Mr. Montu Dowarah </td>
        <td>Cook, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>30</th>
        <td>Mr. Sonajit Gogoi </td>
        <td>Night Chowkidar, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>31</th>
        <td>Ms Ringku Gogoi </td>
        <td>Day Chowkidar, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>32</th>
        <td>Ms. Swapnali Gogoi </td>
        <td>Cleaner, Girls' Hostel </td>
        <td>&nbsp;</td>
    </tr>
</tbody>
</table>
</body>
</html>