<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY - JIST</title>

    {{!-- Font Awesome Css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

    {{!-- Bootstraps Css --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Cutom Css --}}
    <link rel="stylesheet" type="text/css" href="./css/index.css">

</head>

<body style="background-color :grey ">

    {{!-- Navbar --}}
    {{>header}}


    {{!-- Department section --}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-5 bg-dark" style=" z-index: -1">
                <!-- Main content area-->
                <div class="py-4 text-light bg-dark">
                    <h4 class="text-center font-bold mb-3 font-weight-bold bg-info py-3">From Principal Desk
                    </h4>
                    <img src="../img/principal.jpg" alt="img" class="img-fluid">
                    <div class="py-4">
                        <p>
                            At JIST, we believe that an educational institute has a profound role to play in building the nation. We have been
                            putting in tireless efforts to produce leaders of tomorrow in different fields.
                        </p>
                        <p>
                            JIST boasts of a dedicated and accomplished faculty of about 60 members, more than 700 students and around 40 other
                            employees.
                        </p>
                        <h5 class="font-bold font-weight-bold">Mission and vission</h5>
                        <p>
                            Althought our primary objective is to achieve academic excellence, oppourtunities are available for all round
                            development of the sudents and for acquiring desired skills relevant to real life situation. From seminars to debate and
                            quiz to cultural events to sports to tech fests, there is a complete buzz around JIST. We observe important national and
                            international days where teachers, students and employees take active part. We have an active training and placement
                            cell and a career counseling cell in our Institute, besides other groups/cell. We have introduced a social welfare fund
                            and a book bank to help and extend support to few needy and meritorious students.
                        </p>
                        <p>
                            JIST has always encouraged new ideas and innovations and aims to qualitative promotion of every individual.
                        </p>
                        <p>
                            JIST is a ragging free and tobacco free Institute.
                        </p>
                        <p>
                            I invite you all to become a part of this great institute. I am happy and feel proud to be part of it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- Footer --}}
    {{>footer}}


    {{!-- Bootstraps Scripts --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>


</html>