{{!-- ----------------------------------------------------footer- --------------------------------------}}
<footer>

        <div class="social-icons">
                <ul>        
                        <li><i class="fab fa-facebook fa-3x"></i></li>
                        <li><i class="fab fa-twitter fa-3x"></i></li>
                        <li><i class="fab fa-youtube fa-3x"></i></li>
                        <li><i class="fab fa-google-plus fa-3x"></i></li>
                </ul>
        </div>     
        <div class="menu-1"> 
                <ul>
                        <li>© 2019 All Rights Reserved Terms of Use and Privacy Policy.</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><a HREF="">Home</a></li>
                        <li><a HREF="">About Us</a></li>
                        <li><a HREF="">Services</a></li>
                        <li><a HREF="">Disclaimer</a></li>
                        <li><a HREF="">Contact Us</a></li>
                        <li><a HREF="/feedback">Feedback</a></li>
                </ul> 
        </div>
</footer>
{{!-- ----------------------------------------------------footer----------------------------------------}}