{{!-- -------------------------Navbar--------------------------------------- --}}
<header>
&nbsp;&nbsp;
<a HREF="/"><img class="logo" src ="./img/jist.jpg" height="50" width="50" alt="logo"></a>
<nav class="menubar">
        <ul>
                <li><a HREF="/">HOME</a></li>
                <li><a HREF="#">ADMINISTRATION</a>
                        <div class="sub-menu-1">
                        <ul>
                                <li><a HREF="/principal">PRINCIPAL</a></li>
                                <li><a HREF="/board-of-governer">BOARD OF GOVERNERS</a></li>
                                <li><a HREF="/office-staffs">OFFICE STAFF</a></li>
                        </ul> 
                        </div>
                </li>
                <li><a HREF="#">DEPARTMENT </a>
                        <div class="sub-menu-1">
                        <ul>
                                <li class="hover-me"><a HREF="#">B.Sc</a>
                                        <div class="sub-menu-2">
                                        <ul>
                                                <li><a HREF="/departments/physics">PHYSICS</a></li>
                                                <li><a HREF="/departments/chemistry">CHEMISTRY</a></li>
                                                <li><a HREF="/departments/mathematics">MATHEMATICS</a></li>
                                        </ul>
                                        </div>
                                </li>    
                                <li><a HREF="/departments/cs-and-it">B.Sc IT</a></li>
                                <li class="hover-me"><a HREF="#">ENGINEERING </a>
                                        <div class="sub-menu-2">
                                        <ul>
                                                <li><a HREF="/departments/civil">CIVIL</a></li>
                                                <li><a HREF="/departments/etc">ELECTRONICS AND TELECOMMUNICATION</a></li>
                                                <li><a HREF="/departments/mechanical">MECHANICAL</a></li>
                                                <li><a HREF="/departments/pei">POWER AND INTRUMENTAL</a></li>
                                        </ul>
                                        </div>
                                </li>   
                                <li class="hover-me"><a HREF="#">M.Sc </a>
                                        <div class="sub-menu-2">
                                        <ul>
                                                <li><a HREF="/departments/physics">PHYSICS</a></li>
                                                <li><a HREF="/departments/chemistry">CHEMISTRY</a></li>
                                                <li><a HREF="/departments/mathematics">MATHEMATICS</a></li>
                                        </ul>
                                        </div>
                                </li>    
                                <li><a HREF="/departments/humanities">HUMANITIES</a></li>
                        </ul>
                        </div>
                </li>            
                <li><a HREF="#">ACADEMIC</a>
                        <div class="sub-menu-1">
                        <ul>
                                <li><a HREF="/admission">ADMISSION</a></li>
                                <li><a HREF="#">RESULTS</a></li>
                                <li><a HREF="#">FORMS</a></li>
                                <li><a HREF="#">CLASS ROUTINE</a></li>
                                <li><a HREF="#">ACADEMIC CALENDER</a></li>
                                <li><a HREF="#">REGULATIONS & GUIDELINES</a></li>
                                <li><a HREF="#">UGC</a></li>
                        </ul>
                        </div>
                </li>                
                <li><a HREF="#">STUDENT CORNER</a>
                        <div class="sub-menu-1">
                        <ul>
                            <li><a HREF="#">UNION BODY</a></li>
                            <li><a HREF="#">TECHNO FEST</a></li>
                            <li><a HREF="#">NSS/NCC</a></li>
                            <li><a HREF="#">GREIVANCE REDRESSAL</a></li>
                        </ul>
                        </div>
                </li>
                <li><a HREF="#">FACILTIES </a>
                        <div class="sub-menu-1">
                        <ul>
                                <li><a HREF="#">LIBRARY</a></li>
                                <li class="hover-me"><a HREF="#">HOSTEL </a>
                                        <div class="sub-menu-2">
                                        <ul>
                                            <li><a HREF="#">BOY'S</a></li>
                                            <li><a HREF="#">GIRL'S</a></li>
                                        </ul>
                                        </div>
                                </li>    
                                <li><a HREF="#">BUS SERVICE</a></li>
                                <li><a HREF="#">INTERNET</a></li>
                        </ul>
                        </div>
                </li>        
                <li><a HREF="#">PLACEMENT CELL</a>
                        <div class="sub-menu-1">
                        <ul>
                            <li><a HREF="#">TRAINING AND PLACEMENT</a></li>
                            <li><a HREF="#">ALUMINI</a></li>
                        </ul>
                        </div>
                </li>        
                <li><a HREF="/notice">NOTICE</a></li>
        </ul>
</nav>  
        <a HREF="/login"><i class="fas fa-user-circle fa-3x user"></i></a>&nbsp;&nbsp;
</header>
{{!-- -------------------------Navbar ends--------------------------------------- --}}
{{!-- 
{{#if success_msg}}
<div class="alert alert-success" style="margin-top:90px !important;">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger" style="margin-top:90px !important;">{{error_msg}}</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger" style="margin-top:90px !important;">{{error}}</div>
{{/if}} --}}