<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Jorhat Institute Of Science And Technology - JIST</title>

    {{!-- Font Awesome Css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

    {{!-- Bootstraps Css --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Custom Css --}}
    <link rel="stylesheet" type="text/css" href="../css/admin.css">

</head>


<body style="background-color :grey ">



{{!-- Navbar --}}
<nav class="navbar navbar-expand-md navbar-light">


    {{!-- TopNav --}}
    <div class="col-lg-10  col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
        <div class="row align-items-center text- light">
            <h4 class="px-4 text-light mb-2 mb-sm-0 pt-1">
                <a class="  text- light">Home</a>
                <span class=" text- light">/</span>
                <span class=" text- light">Add Notice</span>
            </h4>
            <button class="navbar-toggler ml-auto mb-2 bg-dark" type="button" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>


    {{!-- Sidebar --}}
    <div class="collapse navbar-collapse" id="myNavbar">

        {{!-- Heading --}}
        <div class="col-lg-2 sidebar fixed-top col-md-4">
            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Admin
                Panel</a>
            <div class="bottom-border pb-3">
                <img src="../img/principal.jpg" width="50" class="rounded-circle mr-3" alt="principal">
                <a class="text-white">Principal</a>
            </div>

            {{!-- Options --}}
            <ul class="navbar-nav flex-column mt-2">
                <li class="nav-item"><a href="/admin/dashboard" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                <li class="nav-item"><a href="/admin/addUser" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-user-plus text-light fa-lg mr-3"></i>Add</a></li>
                <li class="nav-item"><a href="/admin/allUsers" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-table text-light fa-lg mr-3"></i>Veiw</a></li>
                <li class="nav-item"><a href="/admin/feedbacks" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-envelope text-light fa-lg mr-3"></i>Feedback</a></li>
                <li class="nav-item"><a href="/admin/addNotice" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                                        class="fas fa-eye text-light fa-lg mr-3"></i>Notice</a></li>
                <li class="nav-item"><a href="/admin/logout" class="nav-link text-white p-3 mb-2 sidebar-link "><i
                            class="fas fa-sign-out-alt text-light fa-lg mr-3"></i>Log Out</a></li>
            </ul>

        </div>

    </div>

</nav>


{{!-- Notice Form --}}
<main class="pt-5 mx-lg-5 mb-3">
    <div class="container-fluid bg-dark col-9 mr-5 py-1">
        <h5 class="bg-info text-light text-center py-4">
            <strong>Add Notice</strong>
        </h5>

        {{#if success_msg}}
        <div class="alert alert-success my-4 text-center">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger my-4 text-center">{{error_msg}}</div>
        {{/if}}


        {{#if error}}
        <div class="alert alert-danger my-4 text-center">{{error}}</div>
        {{/if}}

        {{!-- Form --}}
        <form class="bg-dark text-light" enctype="multipart/form-data" action="" method="POST">
            

                {{!-- Title --}}
                <div class="mt-3">
                    <div>
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" required>
                    </div>
                </div>

                {{!-- Description --}}
                <div class=" mt-3">
                    <div>
                        <label>Description</label>
                        <textarea type="text" class="form-control" placeholder="Enter What You Feel" rows="3" name="description" required> </textarea>
                    </div>
                </div>
            
            {{!-- Image to upload --}}
            <div class="form-group mt-3">
                <label>Notice To Add</label><br>
                <input  type="file" name="upload" required>
            </div>

            {{!-- Sign up --}}
            <center><button class="btn btn-info text-light btn-rounded my-4 waves-effect z-depth-0"
                    type="submit">Upload</button></center>

        </form>

    </div>

</main>




    {{!-- Bootstraps Scripts --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>


</html>